/* Font references */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Source+Code+Pro|Source+Sans+Pro');

/* Navbar */
.navbar {
  z-index: 2;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
  background-color: #fff;
  transition: background-color 0.5s; */
}

.nav-link:focus {
  background-color: #fff;
  color: #000;
}


.dropdown-item {
  color: #fff;
}

.navbar-light .navbar-nav .dropdown-item:hover {
  color: #000;
  background-color: #fff;
  transition: background-color 0.5s; */
}

.dropdown-header {
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}

.dropdown-menu {
  color: #fff;
  border-radius: 0%;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  padding-top: 0;
  margin-top: 0;
  border: 0px;
}

#navbarDropdown {
  color: #fff;
  background-color: #000;
}

#navbarDropdown:hover {
  color: #000;
  background-color: #fff;
  transition: background-color 0.5s; */
}

#navbarDropdown:focus {
  background-color: #fff;
  color: #000;
}

/* Main page styles */
body {
  background-color: #000;
  margin: 0px;
}

.index-center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: auto;
  height: auto;
}

.socialLinksCenter {
  text-align: center;
  padding: 0;
  margin-left: 0;
  margin-top: 40px;
}


.socialLink {
  text-align: center;
  margin: 15px;
  font-size: 24px;
  color: #fff;
  margin-top: 5px;
  display: inline;
}

.socialLink:hover {
  color: #FAB81E;
  -webkit-transition: color 0.25s; /* Safari */
  transition: color 0.25s;
}

.timer {
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  padding-bottom: 25px;
  z-index: 0;
  position: relative;
}

.countdownTitle {
     color: #fff;
}
