/* Font references */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Source+Code+Pro|Source+Sans+Pro');

/* Animations */
@keyframes shake_text {
     0% {
          transform: translate(1px, 1px);
     }
     25% {
          transform: translate(-2px, -2px);
     }
     50% {
          transform: translate(2px, 2px);
     }
     75% {
          transform: translate(-2px, -2px);
     }
     100% {
          transform: translate(1px, 1px);
     }
}

/* Navbar */
.navbar {
  z-index: 2;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
  background-color: #fff;
  transition: background-color 0.5s; */
}

.nav-link:focus {
  background-color: #fff;
  color: #000;
}


.dropdown-item {
  color: #000;
}

.navbar-light .navbar-nav .dropdown-item:hover {
  background-color: #d9d9d9;
  transition: background-color 0.1s;
}

.dropdown-header {
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}

.dropdown-menu {
  color: #000;
  border-radius: 0%;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  padding-top: 0;
  margin-top: 0;
  border: 0px;
}

#navbarDropdown {
  color: #fff;
  background-color: #000;
}

#navbarDropdown:hover {
  color: #000;
  background-color: #fff;
  transition: background-color 0.5s; */
}

#navbarDropdown:focus {
  background-color: #fff;
  color: #000;
}

/* Main page styles */
body {
  background-color: #000;
  margin: 0px;
  overflow: hidden;
}

.index-center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: auto;
  height: auto;
}

.main-content {
     margin-top: 50px;
     margin-bottom: 50px;
}

.main-content-title {
     color: #fff;
     font-family: 'Source Code Pro', sans-serif;
     animation: shake_text 2s infinite;
     border-bottom: 1px solid #FAB81E;
}

.socialLinksCenter {
  text-align: center;
  padding: 0;
  margin-left: 0;
  margin-top: 40px;
}

.socialLink {
  text-align: center;
  margin: 15px;
  font-size: 24px;
  color: #fff;
  margin-top: 5px;
  display: inline;
}

.socialLink:hover {
  color: #FAB81E;
  -webkit-transition: color 0.25s; /* Safari */
  transition: color 0.25s;
}

.timer {
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  padding-bottom: 25px;
  z-index: 0;
  position: relative;
}

.countdownTitle {
     color: #fff;
}

/* shop cards */
.card-dark-ui {
     /*background-color: #161a1d;*/
     background-color: #000;
     color: #fff;
     border: 1px solid #fff;
     border-top-left-radius: calc(.5rem - 1px);
     border-top-right-radius: calc(.5rem - 1px);

     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.card-dark-ui > img {
     border-top-left-radius: calc(.5rem - 1px);
     border-top-right-radius: calc(.5rem - 1px);
     border-bottom-left-radius: calc(.5rem - 1px);
     border-bottom-right-radius: calc(.5rem - 1px);
}

.card-dark-ui .card-title {
     font-family: 'Roboto', sans-serif;
     letter-spacing: 1px;
     color: #FAB81E;
}

.card-dark-ui .carousel-indicators li {
     background-color: #888;
}

.card-dark-ui .carousel-indicators .active {
     background-color: #000;
}

.card-link {
     text-decoration: none;
     color: inherit;
}

.card-link:hover {
     text-decoration: none;
     color: inherit;
}
